# Credenciales PostgreSQL
POSTGRES_USER=your_user
POSTGRES_PASSWORD=your_password
POSTGRES_DB=aemps_db

# Airflow
AIRFLOW_UID=50000

# Credenciales pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=your_password